.translators-interface-filter-form .form-item-langcode-from,
.translators-interface-filter-form .form-item-langcode,
.translators-interface-filter-form .form-item-translation,
.translators-interface-filter-form .form-item-customized {
  display: inline-block;
  margin-right: 1em;
}
#translator-interface-edit-form tr.changed {
  background: #ffb;
}
